body {
    margin: 0;
}

h3 {
    color: #EEEEEE;
    font-family: Verdana;
    font-size: 40px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    padding: 40px;
    
}
.home-score-container {
    background-color: #080001;
    width: 155;
    height: 120;
    top: 125px;
    left: 82px;
    border-radius: 5px;

}
.guest-score-container {
    background-color: #080001;
    width: 155;
    height: 120;
    top: 125px;
    left: 337px;
    border-radius: 5px;

}
#home-score, #guest-score {
    font-family: Cursed Timer ULiL;
    font-weight: 400;
    font-size: 90px;
    line-height: 126.67px;
    letter-spacing: 0%;
    text-align: center;
    color: #F94F6D;
    
    
    
}

button {
    font-family: Cursed Timer ULiL;
    border-radius: 5px;
    border-color: #9AABD8;
    height: 45px;
    width: 45px;
    background: transparent;
    color: #9AABD8;
    text-align: center;
}


